<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdaxj.blog.dao.DictMapper">

    <resultMap id="BaseResultMap" type="com.zdaxj.blog.domain.Dict">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <id property="val" column="val" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="prompt" column="prompt" jdbcType="VARCHAR"/>
            <result property="enableFlag" column="enable_flag" jdbcType="VARCHAR"/>
            <result property="reserve1" column="reserve1" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,val,name,
        prompt,enable_flag,reserve1
    </sql>
</mapper>
