<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdaxj.blog.dao.UserRightMapper">

    <resultMap id="BaseResultMap" type="com.zdaxj.blog.domain.UserRight">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <id property="rightType" column="right_type" jdbcType="VARCHAR"/>
            <result property="isAllow" column="is_allow" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,right_type,
        is_allow
    </sql>
</mapper>
